.headbox {
	box-sizing: border-box;
	height: 93%;
	width: 100%;
	display: flex;
}
.room-box {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f4f4f4;
}

.room-box-header {
	display: flex;
	justify-content: space-between;
	margin-top: 1%;
}

.jc {
	display: flex;
	width: fit-content;
	height: fit-content;
	padding-right: 2%;
	align-self: center;
}
.jc a:hover {
	text-decoration: none;
	color: black;
	background-color: #ddd;
}
.jc a {
	width: 100%;
	height: 100%;
	background-color: white;
	border: 1px solid;
	border-color: #e1dfdd;
}

.modal
    .modal-content.form-wrapper{
      width: 100%;
      height: 470px;
      position: relative;
      background: #f2f3f5;
    }